body {
  background: #ff99c8;
  font-family: "Nunito", sans-serif;
  padding-right: 0 !important;
}

.blurb h2 {
  color: #006d77;
  font-weight: 100;
  font-size: 2.5rem;
}
.blurb p {
  color: #d0f4de;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link{
  color: white;
}

#mainNavbar .nav-link:hover{
  color: #006d77;
}

#mainNavbar .navbar-brand {
  color: #006d77;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #006d77;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: #c8b6ff;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }

}